{% extends "base.html" %} {% block content %} {% if request.user.is_authenticated %}
<div class="container-chat" id="messageContainer">
    {% for message in messages %}
    <div class="chat">
        {% if request.user.first_name == message.author.first_name %}
        <div class="main-user">
            <div class="chat-section">
                <span class="color-black">{{ message.created_at }}</span> {{ message.author.first_name }}: <i>{{ message.text }}</i>
            </div>
        </div>
        {% else %}
        <div class="otheruser">
            <div class="chat-section">
                <span class="color-black">{{ message.created_at }}</span> {{ message.author.first_name }}: <i>{{ message.text }}</i>
            </div>
        </div>
        {% endif %}
    </div>
    {% endfor %}
</div>

<form onsubmit="sendMessage(); return false;" method="POST">
    {% csrf_token %}
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" name="textmessage" type="text " id="messageField">
        <label class="mdl-textfield__label " for="messageField">Text...</label>
    </div>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent ">
        Send
    </button>
</form>
{% endif %} {% endblock %}