.page-content {
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.color-gray {
    color: rgba (0, 0, 0, 0.5);
}

.chat {
    margin: 5px;
}

.mdl-button {
    margin-left: 20px;
    width: 80px;
}

.container-chat {
    height: 500px;
    width: 400px;
    border: 1px solid rgba(0, 0, 0, 0.397);
    box-shadow: 3px 3px 6px -1px rgba(0, 0, 0, 0.5);
    overflow: auto;
}

.login-container {
    width: 280px;
    display: flex;
    justify-content: flex-end;
}

.header-login {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.container {
    width: 400px;
    height: 400px;
    box-shadow: 5px 5px 7px 1px rgba(0, 0, 0, 0.36);
    border-radius: 8px;
}

input {
    height: 30px;
    width: 180px;
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    width: 100px;
    height: 30px;
}

.login-field {
    margin-top: 30px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

a {
    font-size: larger;
}

a:hover {
    color: rgb(255, 130, 172);
}

.container-register {
    height: 80px;
    padding-right: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.register-field {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}